﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models
@model TicketModel
@{
    List<IdNameBool> userList = ViewBag.userList ?? new List<IdNameBool>();
}
<br />
<h3>Edit ticket</h3>

@using (Html.BeginForm("EditTicket", "Home", new { area = "Developer" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ProjectId)

    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Name", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Description", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Description" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Type, "Type", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            <select id="Type" name="Type" class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                <option value="@((int)TicketType.Bug)" @(Model.Type == (int)TicketType.Bug ? "selected" : String.Empty)>@TicketType.Bug.ToString()</option>
                <option value="@((int)TicketType.Feature)" @(Model.Type == (int)TicketType.Feature ? "selected" : String.Empty)>@TicketType.Feature.ToString()</option>
                <option value="@((int)TicketType.Task)" @(Model.Type == (int)TicketType.Task ? "selected" : String.Empty)>@TicketType.Task.ToString()</option>
            </select>
            @Html.ValidationMessageFor(x => x.Type)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Priority, "Priority", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            <select id="Priority" name="Priority" class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                <option value="@((int)PriorityType.None)" @(Model.Priority == (int)PriorityType.None ? "selected" : String.Empty)>@PriorityType.None.ToString()</option>
                <option value="@((int)PriorityType.Low)" @(Model.Priority == (int)PriorityType.Low ? "selected" : String.Empty)>@PriorityType.Low.ToString()</option>
                <option value="@((int)PriorityType.Medium)" @(Model.Priority == (int)PriorityType.Medium ? "selected" : String.Empty)>@PriorityType.Medium.ToString()</option>
                <option value="@((int)PriorityType.Hight)" @(Model.Priority == (int)PriorityType.Hight ? "selected" : String.Empty)>@PriorityType.Hight.ToString()</option>
                <option value="@((int)PriorityType.Critical)" @(Model.Priority == (int)PriorityType.Critical ? "selected" : String.Empty)>@PriorityType.Critical.ToString()</option>
            </select>
            @Html.ValidationMessageFor(x => x.Priority)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Status, "Status", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            <select id="Status" name="Status" class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                <option value="@((int)StatusType.None)" @(Model.Status == (int)StatusType.None ? "selected" : String.Empty)>@StatusType.None.ToString()</option>
                <option value="@((int)StatusType.Open)" @(Model.Status == (int)StatusType.Open ? "selected" : String.Empty)>@StatusType.Open.ToString()</option>
                <option value="@((int)StatusType.InProgress)" @(Model.Status == (int)StatusType.InProgress ? "selected" : String.Empty)>@StatusType.InProgress.ToString()</option>
                <option value="@((int)StatusType.Resolved)" @(Model.Status == (int)StatusType.Resolved ? "selected" : String.Empty)>@StatusType.Resolved.ToString()</option>
            </select>
            @Html.ValidationMessageFor(x => x.Status)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.AssignTo, "Assign To", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            <select id="AssignTo" name="AssignTo.Id" class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                @foreach (var item in userList)
                {
                    <option value="@item.Id" @(item.Bool ? "selected" : String.Empty)>@item.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(x => x.AssignTo)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Tickets", "Home", new { area = "Developer", projectId = Model.ProjectId })" class="btn btn-default">Back to list</a>
        </div>
    </div>
}



@if (Model.Id > 0)
{
    @Html.Action("TicketCommentControl", "Control", new { area = String.Empty, ticketId = Model.Id })
}