﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models

@model List<TicketModel>


<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Status</th>
            <th>CreatedBy</th>
            <th>CreatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="@Url.Action("EditTicket", "Home", new { area = "Developer" , id = item.Id})">@item.Name</a></td>
                <td>@(((TicketType)item.Type).ToString())</td>
                <td>@(((PriorityType)item.Priority).ToString())</td>
                <td>@(((StatusType)item.Status).ToString())</td>
                <td>@item.CreatedBy.Name</td>
                <td>@item.CreatedDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>