﻿@using InetecTracker.Infrastructure
@{ 
    bool IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
    bool IsAdmin = HttpContext.Current.User.IsInRole(AccountType.Admin.ToString());
    bool IsUser = HttpContext.Current.User.IsInRole(AccountType.User.ToString());
    bool IsDeveloper = HttpContext.Current.User.IsInRole(AccountType.Developer.ToString());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (IsAuthenticated)
                {
                    <a class="navbar-brand" href="@(Url.Action("Index", "Home", new { area = String.Empty  }))">@HttpContext.Current.User.Identity.Name</a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (IsAuthenticated && IsAdmin)
                    {
                        <li>@Html.ActionLink("Accounts", "Accounts", "Home", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Projects", "Projects", "Home", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Tickets", "Tickets", "Home", new { area = "Admin" }, new { })</li>
                    }

                    @if (IsAuthenticated && IsDeveloper)
                    {
                        <li>@Html.ActionLink("Tickets", "Tickets", "Home", new { area = "Developer" }, new { })</li>
                    }

                    @if (IsAuthenticated && IsUser)
                    {
                        <li>@Html.ActionLink("Tickets", "Tickets", "Home", new { area = "User" }, new { })</li>
                    }


                    @if (IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Sign out", "SignOut", "Home", new { area = String.Empty }, new { })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
</body>
</html>
