﻿@using InetecTracker.Infrastructure.Models
@model TicketCommentModel



<form class="form-horizontal">
    @Html.HiddenFor(x=>x.TicketId)
    <div class="form-group">
        @Html.LabelFor(x => x.Comment, "Comment", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Comment, new { @class = "form-control", placeholder = "Comment" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="javascript:addComment()" class="btn btn-default">Add comment</a>
        </div>
    </div>
</form>


<script type="text/javascript">
    addComment = function () {

        var ticketId = $('#TicketId').val();
        var comment = $('#Comment').val();

        if (ticketId && comment.length > 0) {
            var postData = {
                ticketId: ticketId,
                comment: comment
            }

            $.ajax({
                url: '@Url.Action("AddComment", "Control", new { area = String.Empty})',
                type: 'POST',
                data: postData,
                success: function (dataHtml) {
                    $('#Comment').val('');
                    $('#comment-ctrl-@Model.TicketId').html(dataHtml);
                }
            });

        };
    }

</script>