﻿@using InetecTracker.Infrastructure.Models
@model List<TicketCommentModel>
<div class="comments-cnt ">
    @foreach (var item in Model.OrderBy(x => x.Id))
    {
        <div class="comment-item">
            <div class="comment">@item.Comment</div>
            <div class="comment-details">@item.CreateBy.Name - @item.CreateDate.ToString()</div>
        </div>
    }
</div>