﻿@model int
@{
    bool isAvaliable = ViewBag.isAvaliable ?? false;
}

<hr />

<div class="jumbotron">
    <div id="comment-ctrl-@Model">
        @Html.Action("TicketCommentList", "Control", new { area = String.Empty, ticketid = Model })
    </div>

    @if (isAvaliable)
    {
        @Html.Action("TicketCommentForm", "Control", new { area = String.Empty, ticketid = Model })
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Current user doesn't have permissions for comment control
        </div>
    }
</div>
