﻿@using InetecTracker.Infrastructure.Models
@model LoginModel
@{
    ViewBag.Title = "Home Page";
    bool IsAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
}


<div class="jumbotron">
    <section class="news">
        <div class="container">
            <div class="row">
                @if (!IsAuthenticated)
                {
                    using (Html.BeginForm("Index", "Home", new { area = String.Empty }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h3>Login</h3>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Email, "Email", new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Email, new { @class = "fieldInput", placeholder = "Email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Password, "Password", new { @class = "control-label" })
                            <div class="controls">

                                @Html.TextBoxFor(x => x.Password, new { @class = "fieldInput", type = "password", placeholder = "Password" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        </div>
                        <br />
                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-primary" type="submit" value="Log in">
                                <a href="@Url.Action("Registration", "Home", new { area = String.Empty })" class="btn btn-default">Register new account</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <a href="@Url.Action("SignOut", "Home", new { area = String.Empty })" class="btn btn-primary">SignOut</a>
                    <a href="@Url.Action("Registration", "Home", new { area = String.Empty })" class="btn btn-default">Register new account</a>
                }
            </div>
        </div>
    </section>
</div>

