﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models
@model RegistrationModel
@{
    ViewBag.Title = "Registration";
}


<div class="jumbotron">
    <section class="news">
        <div class="container">
            <div class="row">
                @using (Html.BeginForm("Registration", "Home", new { area = String.Empty }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <h3>Registration</h3>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Name, "Name", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Name, new { @class = "fieldInput", placeholder = "Name" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.Email, "Email", new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Email, new { @class = "fieldInput", placeholder = "Email" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.AccountType, "Account type", new { @class = "control-label" })
                        <div class="controls">
                            <select class="fieldInput" id="AccountType" name="AccountType">
                                <option value="@((int)AccountType.User)">User</option>
                                <option value="@((int)AccountType.Developer)">Developer</option>
                                <option value="@((int)AccountType.Admin)">Admin</option>
                            </select>
                            @Html.ValidationMessageFor(x => x.AccountType)
                        </div>
                    </div>


                    <div class="control-group">
                        @Html.LabelFor(x => x.Password, "Password", new { @class = "control-label" })
                        <div class="controls">

                            @Html.TextBoxFor(x => x.Password, new { @class = "fieldInput", type = "password", placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.PasswordConfirm, "PasswordConfirm", new { @class = "control-label" })
                        <div class="controls">

                            @Html.TextBoxFor(x => x.PasswordConfirm, new { @class = "fieldInput", type = "password", placeholder = "PasswordConfirm" })
                            @Html.ValidationMessageFor(x => x.PasswordConfirm)
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="Registrate">
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>