﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models
@model List<AccountModel>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Account Type</th>
            <th>Is Approved</th>
            <th>Is Lockedout</th>
            <th>Is Deleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool isActive = item.IsApproved && !item.IsDeleted && !item.IsLockedOut;
            <tr class="@(!isActive ? "danger": String.Empty)">
                <td>@item.Id</td>
                <td><a href="@Url.Action("EditAccount", "Home", new { area = "Admin" , id = item.Id})">@item.FullName</a></td>
                <td>@item.Email</td>
                <td>@(((AccountType)item.AccountType).ToString())</td>
                <td>@item.IsApproved</td>
                <td>@item.IsLockedOut</td>
                <td>@item.IsDeleted</td>
            </tr>
        }
    </tbody>
</table>