﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models
@model ProjectModel
@{
    List<IdNameBool> userList = ViewBag.userList ?? new List<IdNameBool>();
}

<br />
<h3>Edit Project</h3>

@using (Html.BeginForm("EditProject", "Home", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Name", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Description, "Description", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Description" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("members", "Project members", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <select id="members" name="members" class="selectpicker form-control" multiple data-live-search="true" title="Choose one of the following...">
                @foreach (var item in userList)
                {
                    <option value="@item.Id" @(item.Bool ? "selected" : String.Empty)>@item.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Projects", "Home", new { area = "Admin" })" class="btn btn-default">Back to list</a>
        </div>
    </div>
}