﻿@using InetecTracker.Infrastructure
@using InetecTracker.Infrastructure.Models
@model AccountModel

<br />
<h3>Edit account</h3>

@using (Html.BeginForm("EditAccount", "Home", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Email)
    <div class="form-group">
        @Html.LabelFor(x => x.Email, "Email", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", disabled = "disabled" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FullName, "Full Name", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", placeholder = "Full Name" })
            @Html.ValidationMessageFor(x => x.FullName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.AccountType, "Account Type", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            <select id="AccountType" name="AccountType" class="selectpicker form-control" data-live-search="true" title="Choose one of the following...">
                <option @(Model.AccountType == (int)AccountType.User ? "selected" : String.Empty) value="@((int)AccountType.User)">User</option>
                <option @(Model.AccountType == (int)AccountType.Developer ? "selected" : String.Empty) value="@((int)AccountType.Developer)">Developer</option>
                <option @(Model.AccountType == (int)AccountType.Admin ? "selected" : String.Empty) value="@((int)AccountType.Admin)">Admin</option>
            </select>
            @Html.ValidationMessageFor(x => x.AccountType)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="IsApproved" name="IsApproved" value="true" @(Model.IsApproved ? "checked" : String.Empty)> Is Approved
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="IsLockedOut" name="IsLockedOut" value="true" @(Model.IsLockedOut ? "checked" : String.Empty)> Is Locked Out
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="IsDeleted" name="IsDeleted" value="true" @(Model.IsDeleted ? "checked" : String.Empty)> Is Deleted
                </label>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" role="alert">
        Keep it empty if you don't want change password.
        <br />
        But if you do, enter at least 4 characters.
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newPassword">New password</label>

            <div class="col-sm-10">
                <input class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" type="password" value="">
                <span class="field-validation-valid" data-valmsg-for="newPassword" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Accounts", "Home", new { area = "Admin" })" class="btn btn-default">Back to list</a>
        </div>
    </div>
}