﻿@using InetecTracker.Infrastructure.Models
@model List<ProjectModel>

<br />
<a class="btn btn-success" href="@Url.Action("EditProject", "Home", new { area = "Admin", id = 0})">Create Project</a>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>CreatedBy</th>
            <th>CreatedDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="@Url.Action("EditProject", "Home", new { area = "Admin" , id = item.Id})">@item.Name</a></td>
                <td>@item.Description</td>
                <td>@item.CreatedBy.Name</td>
                <td>@item.CreatedDate.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("RemoveProject", "Home", new { area = "Admin" , id = item.Id})" class="text-danger" onclick="return confirm('Are you sure?')">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>