﻿@using InetecTracker.Infrastructure.Models

@model int
@{
    List<IdName> projectList = ViewBag.projectList ?? new List<IdName>();
}

<br />

<select id="project" class="selectpicker" data-live-search="true" title="Choose one of the following...">
    <option style="display:none;"></option>
    @foreach (var item in projectList)
    {
        <option value="@item.Id" @(Model == item.Id ? "selected" : String.Empty)>@item.Name</option>
    }
</select>

<a id="create-ticket" class="btn btn-success" href="javascript:void(0)" style="display:none;">Create ticket</a>

<div id="ticket-cnt"></div>

<script type="text/javascript">
    function encodeQueryData(data) {
        let ret = [];
        for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        return ret.join('&');
    }

    $(function () {
        $('body')
        .on('change', '#project', function () {
            var project = $('#project option:selected').val();
            if (project != '') {
                $('#create-ticket').show();
                $.ajax({
                    url: '@Url.Action("TicketList", "Home", new { area = "Admin"})',
                    type: 'GET',
                    data: { projectId: project },
                    success: function (dataHtml) {
                        $('#ticket-cnt').html(dataHtml);
                        window.history.replaceState('', '', '@Url.Action("Tickets", "Home", new { area = "Admin"})?projectId' + project);
                    }
                });
            } else {
                $('#create-ticket').hide();
                $('#ticket-cnt').html('');
            }
        })
        .on('click', '#create-ticket', function () {
            var project = $('#project option:selected').val();
            if (project != '') { 
                var querystring = encodeQueryData({ 'id': 0, 'projectId': project });
                window.location.href = '@(Url.Action("EditTicket", "Home", new { area = "Admin"}))?' + querystring;
            }
            });

        $('#project').change();
    });
</script>