﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
.bootstrap-select {
    max-width: 350px;
}

textarea {
    max-width: 600px;
}

li.selected {
    background-color: darkseagreen;
}

.field-validation-error {
    font-size: 18px;
    color: red;
}

.form-control {
    display: inline-block !important;
}

.comment-item {
    margin: 0 0 15px 0;
}


.comment-details {
    font-size:10px;
    color:#999;
}